{
  "presets": [
    "@inst-app/react"
  ],
  "plugins": [
    ["emotion", {"sourceMap": false, "hoist": true}],
    "polished"
  ],
  "env": {
    "cjs": {
      "presets": [
        ["@inst-app/esx"]
      ]
    },
    "es": {
      "presets": [
        ["@inst-app/esx", {"env": {"modules": false}}]
      ]
    }
  }
}
