{
  "env": {
    "commonjs": {
      "presets": [
        "@babel/env",
        "@babel/react",
        "@babel/stage-2"
      ],
      "plugins": [
        ["emotion", { "hoist": true }],
        "@babel/transform-runtime",
        "transform-react-pure-components",
        "@babel/transform-react-constant-elements",
        "@babel/transform-react-inline-elements",
        "@babel/proposal-do-expressions",
        "@babel/proposal-export-default-from",
        "@babel/proposal-nullish-coalescing-operator",
        "@babel/proposal-optional-chaining",
        "@babel/proposal-pipeline-operator",
        "transform-react-remove-prop-types",
        "closure-elimination"
      ]
    },
    "es": {
      "presets": [
        "@babel/react",
        ["@babel/env", {"modules": false}],
        "@babel/stage-2"
      ],
      "plugins": [
        ["emotion", { "hoist": true }],
        "@babel/transform-runtime",
        "transform-react-pure-components",
        "@babel/transform-react-constant-elements",
        "@babel/transform-react-inline-elements",
        "@babel/proposal-do-expressions",
        "@babel/proposal-export-default-from",
        "@babel/proposal-nullish-coalescing-operator",
        "@babel/proposal-optional-chaining",
        "@babel/proposal-pipeline-operator",
        "transform-react-remove-prop-types",
        "closure-elimination"
      ]
    }
  }
}
