{
  "presets": [
    ["@stellar-apps/react", {"removePropTypes": false}]
  ],
  "plugins": [
    ["emotion", {"sourceMap": false, "hoist": true}],
    "polished"
  ],
  "env": {
    "cjs": {
      "presets": [
        [
          "@stellar-apps/es",
          {
            "env": {
              "targets": {"chrome": "41", "ie": "10"}
            },
            "runtime": {"corejs": 2}
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "@stellar-apps/es",
          {
            "env": {
              "modules": false,
              "targets": {"chrome": "41", "ie": "10"}
            },
            "runtime": {"corejs": 2}
          }
        ]
      ]
    }
  }
}
